#pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagination > div#buttons {
    margin: 0;
}

#pagination > div#buttons > button {
    background: var(--rosy);
    border: none;
    cursor: pointer;
    padding: 5px 10px 2.5px;
    width: 75px;
    height: 25px;

    color: white;
    font-family: ch-semibold;
}

#pagination > div#buttons > button:hover {
    background: var(--sparkling);
}

#pagination > h5 {
    font-family: ch-medium;
    color: var(--scarlett);
}