#pagination {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

#pagination > button {
    background: rgb(172, 59, 59);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px 2.5px;
    width: 100px;
    height: 30px;
    font-family: ch-semibold;
}

#pagination > button:hover {
    background: goldenrod;
    color: navy;
}