@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#pagination {
    font-family: ch-semibold;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.pagenum:hover {
    color:rgb(172, 59, 59);
    cursor: pointer;
}