@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#explore-by {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightgoldenrodyellow;
    padding: 50px 0 0 0;
}

#params {
    display: flex;
    gap: 10px;
}

#params > .explore-cat {
    font-size: 15px;
    width: 100px;
    height: 25px;
    padding: 10px 10px;
    border-radius: 10px;
    line-height: 200%;
}