#videos {
    background: #dae2ef;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-top{
    background: #ebf2ff;
    width: 100vw;

    clip-path: polygon(0 0%, 100% 0%, 85% 100%, 15% 100%);

    display: flex;
    justify-content: center;
}

#video-top > h1 {
    background-color: var(--brass);
    box-shadow: 7px 7px var(--sparkling);
    width: fit-content;
    height: fit-content;
    padding: 10px 50px 3px;

    color: white;
    font-family: ch-semibold;
    letter-spacing: 3px;
    margin: 75px 0;
}

#lights {
    width: 60vw;
    height: 65px;
    background: center / contain no-repeat url(../images/spotlights.png);
}

#video-bottom {
    display: flex;
    align-items: flex-end;
}

#bottom-center {
    background: #c3cedb;
    width: 70vw;
    min-height: 65vh;
    height: fit-content;
    padding: 100px 0 30px;
    /* margin-top: 4.75%; */

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}