@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#curate {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;
}

#curate-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#curate-title > h1, h3 {
    margin: 0;
}

#curate-title > h1 {
    font-family: ch-semibold;
    color: rgb(172, 59, 59);
}

#curate-title > h3 {
    font-family: newyork;
    color: maroon
}