/* ====== Results.jsx ====== */
h2#no-results {
    color: var(--scarlett);
    font-family: ch-semibold;
    letter-spacing: 5px;
    padding: 50px 0;
}

#artwork-container {
    width: 60vw;
    height: fit-content;
    padding: 20px 0 40px;
    margin-top: 50px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#artwork-results {
    display: flex;
    gap: 100px;
    align-items: center;  
}

.artwork-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

a.artwork-link {
    background: var(--beige);
}

progress {
    margin-top: 20px;
}

.artwork {
    background-color: rgb(240, 203, 111);
    border: 8px double var(--brass);
    padding: 5px;

    flex-shrink: 0;
    display: inline-block;
    object-fit: cover;
}

#no-img {
    background: rgb(240, 203, 111);
    width: 263px;
    height: 320px;
    border: 8px double var(--brass);

    color: white;
    font-family: ch-medium;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ====== Heart.jsx ====== */
.heart {
    background: rgb(256, 256, 256, 0.5);
    width: 25px;
    height: 25px;
    border-radius: 14.5px;
    padding: 2px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--rosy);

    color: rgb(256, 256, 256, 0.5);
    font-size: 1.1em;
    cursor: pointer;

    display: flex;
    justify-content: center;
}

.fav {
    color: var(--scarlett);
    -webkit-text-stroke-width: 0px;
}