/* ====== Results.jsx ====== */
h2#no-results {
    font-family: ch-semibold;
    letter-spacing: 5px;
    padding: 50px 0;
    color: var(--maroon-red);
}

#artwork-container {
    width: 60vw;
    height: fit-content;
    padding: 20px 0 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#artwork-results {
    display: flex;
    gap: 100px;
    align-items: center;
    
}

.artwork-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

a.artwork-link {
    background: var(--beige);
}

progress {
    margin-top: 20px;
}

.artwork {
    flex-shrink: 0;
    display: inline-block;
    object-fit: cover;
    border: 8px double var(--mustard);
    padding: 5px;
    background-color: rgb(240, 203, 111);
}

/* ====== Heart.jsx ====== */
.heart {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    cursor: pointer;
    background: rgb(256, 256, 256, 0.5);
    color: rgb(256, 256, 256, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
}

.fav {
    color: var(--maroon-red);
    -webkit-text-stroke-width: 0px;
}