@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#by-dept {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 0 0 0;
}

.dept {
    width: 200px;
    height: 100px;
    background-color: rgb(172, 59, 59);
    color: white;
    font-family: newyork;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}