#home {
    background: linear-gradient(var(--sparkling), white);
    background-size: 100%;
    background-blend-mode: multiply;


    min-height: calc(85vh - 50px);
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

#home-content {
    width: 25vw;

    color: var(--electric);
    text-align: center;
}

#home-welcome{
    margin: 0;

    font-family: ch-medium;
    font-size: 20px;
}

#home-title {
    margin: 0;
    margin-top: 30px;

    color: var(--brass);
    font-family: ch-semibold;
    font-size: 50px;
    text-shadow: 3px 3px var(--electric);
}

#home-subtitle {
    margin: 0;

    color: var(--peachy);
    font-family: ch-medium;
    font-size: 22px;
    letter-spacing: 2px;
    text-shadow: 1.5px 1.5px var(--electric);
}

#home-descr {
    margin: 0;
    margin-top: 50px;

    font-family: ch-book;
    text-align: justify;
}

.museum-img {
    width: 35vw;
    height: 90%;
    
    object-fit: cover;
    object-position: right;

    position: absolute;
    bottom: 0;
}

#museum-half-left {
    left: 0;
}

#museum-half-right {
    transform: scaleX(-1);

    right: 0;
}