@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#obj-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    background-color: aliceblue;
    color: navy;
    padding: 50px 0 100px 0;
}

#title {
    font-family: ch-semibold;
    background: maroon;
    color: white;
    padding: 18px 30px 10px 30px;
}

/* #img {
    margin-top: 20px;
    padding: 20px;
    border: 10px double goldenrod;
    background: rgb(235, 190, 77);
    border-radius: 10px;
} */

#img {
    border:solid 2px;
    border-bottom-color:#ffe;
    border-left-color:#eed;
    border-right-color:#eed;
    border-top-color:#ccb;
    max-height:100%;
    max-width:100%;
}

#frame {
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    margin:5vh 10vw;
    height:80vh;
    padding:8vmin;
    position:relative;
    text-align:center;
}

#frame:before {
      border-radius:2px;
      bottom:-2vmin;
      box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
      content:"";
      left:-2vmin;
      position:absolute;
      right:-2vmin;
      top:-2vmin;
    }

#frame:after {
      border-radius:2px;
      bottom:-2.5vmin;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
      content:"";
      left:-2.5vmin;
      position:absolute;
      right:-2.5vmin;
      top:-2.5vmin;
}

#description {
    margin: 20px 0 0 0;
    text-align: center;
    font-family: ch-semibold;
    max-width: 70%;
}

#credit-line {
    font-style: italic;
}

#buttons {
    display: flex;
    gap: 20px;
}

#buttons > a, #like-btn {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    font-family: ch-semibold;
    font-size: 20px;
    background: maroon;
    color: white;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}