/* ====== ObjectDetails.jsx ====== */
#obj-details {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    height: 100%;
    /* background: var(--beige); */
    background: url(../images/detail-background.png);
    background-size: 200px 200px;
    color: rgb(202, 202, 202, 0.1);
    min-height: 100vh;
    height: fit-content;
    padding: 30px 0 100px 0;
    font-family: ch-semibold;
}

#title {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#title > h1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0 30px;
    padding: 18px 30px 10px 30px;
    max-width: 60vw;
    font-size: 40px;
    background: var(--mustard);
    color: white;
    box-shadow: 10px 10px var(--maroon-red);
}

#title > div {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 200%;
    background: var(--beige);
}

#artwork-info {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    color: var(--midnight-blue);
}

/* ====== Breadcrumbs.jsx ====== */
#breadcrumbs {
    font-family: ch-book;
    color: var(--midnight-blue);
    letter-spacing: 1px;
}

#breadcrumbs > span:hover {
    font-family: ch-medium;
    color: var(--mustard);
    text-decoration: underline;
    cursor: pointer;
}

/* ====== Images.jsx ====== */
#img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
}

#frame {
    background-color:#ddc;
    border:solid 5vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    height: fit-content;
    padding: 3vh;
    position:relative;
    text-align:center;
}

#frame:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
}

#frame:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
}

/* ====== Description/Details/Participants.jsx ====== */
.info-category {
    background-color: white;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 5px 5px 5px rgb(202, 202, 202);
    width: 20vw;
    height: fit-content;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.info-category > h2 {
    background: var(--olive-green);
    color: white;
    width: 17vw;
    height: 40px;
    margin: 0 0 5px;
    padding: 0 20px;
    font-size: 23px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 2px;
}

#details {
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--midnight-blue);
    font-family: ch-book;
    margin: 10px 0 0;
}

span.not-avail {
    color: var(--maroon-red);
    font-size: 100%;
    font-family: ch-light;
    font-style: italic;
}

h3 > span.category {
    font-size: 110%;
    text-decoration: underline;
    font-family: ch-medium;
}

#swatches {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.swatch {
    width: 40px;
    height: 40px;
}