#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--olive-green);
    height: 140px;
    padding: 10px 50px 0;
    font-family: ch-bold;
}

a {
    text-decoration: none;
}

#header-title {
    color: var(--beige);
    font-size: 50px;
    letter-spacing: 3px;
    text-shadow: 4px 4px var(--midnight-blue);
}

#header-title:hover {
    color: var(--mustard);
}


#nav {
    display: flex;
    list-style: none;
    gap: 40px;
}

a.nav-link {
    font-size: 25px;
    color: var(--beige);
}

a.nav-link:hover {
    color: var(--mustard);
    text-shadow: 2px 2px var(--midnight-blue);
}