#hdr-layout {
    width: 100vw;
    max-width: 100vw;

    display: flex;
    position: fixed;    
}

#outlet {
    width: calc(100vw - 220px);
    max-width: 85%;
    height: 200vh;
}

#hdr {
    background: var(--electric);

    width: 200px;
    height: 90vh;
    padding: 5vh 0 5vh 20px;
    overflow-x: hidden;

    position: absolute;
    left: 0;
    top: 0;
}

#hdr-content {
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#hdr-title {
    color: var(--rosy);
    font-family: ch-semibold;
    font-size: 50px;
    line-height: 1em;
    letter-spacing: 3px;
}

#hdr-title > span {
    color: var(--brass);
}

#hdr-title:hover,
#hdr-title > span:hover {
    cursor: pointer;
}

#hdr-nav {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style: none;
}

.hdr-nav-link {
    color: var(--rosy);

    font-family: ch-medium;
    font-size: 20px;
    text-align: left;
    letter-spacing: 2px;
}

.hdr-nav-link:hover {
    color: var(--peachy);
    cursor: pointer;
}

#hdr-img {
    height: 50vh;
    width: fit-content;

    object-fit: cover;

    position: absolute;
    top: 25vh;
    left: 20%;
}