/* @font-face {
    font-family: ch-semibold;
    src: url("../../fonts/ch-semibold.otf");
} */

#filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#preset-filters {
    display: flex;
    gap: 15px;
}

#preset-filters > input, #query {
    background: lightgoldenrodyellow;
    border: none;
    padding: 5px 10px 2.5px;
    height: 25px;
    font-family: ch-semibold;
}

#query {
    width: 668px;
}

#preset-filters > input:focus {
    background: goldenrod;
}

#buttons {
    margin-top: 10px;
}

#buttons > button {
    background: rgb(172, 59, 59);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px 2.5px;
    width: 100px;
    height: 30px;
    font-family: ch-semibold;
}

#buttons > button:hover {
    background: goldenrod;
    color: navy;
}