#filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#preset-filters {
    display: flex;
    gap: 15px;
}

#preset-filters > input, #query {
    background: white;
    border: none;
    padding: 5px 10px 2.5px;
    height: 25px;

    font-family: ch-semibold;
}

#query {
    width: 668px;
}

#preset-filters > input:focus, #query:focus {
    background: var(--rosy);
    border: none;

    color: white;
}

#buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

#filters > #buttons > button {
    background: var(--rosy);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px 2.5px;
    width: 100px;
    height: 30px;
    font-family: ch-semibold;
}

#filters > #buttons > button:hover {
    background: var(--scarlett);
}