#fav-results {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    max-width: 80vw;
    width: fit-content;
    gap: 20px;
}

.fav-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.fav-div > h4 {
    font-family: ch-medium;
    color: var(--midnight-blue);
    margin: 0;
    max-width: 200px;
   text-align: center;
}

.fav-img {
    flex-shrink: 0;
    display: inline-block;
    object-fit: cover;
    width: 200px;
    height: 200px;
    background: rgb(241, 211, 137);
    padding: 5px;
    border: 5px double var(--mustard);
}