/* ====== GENERAL ====== */
#accordian {
    background: var(--mustard);
    width: 30vw;
    box-shadow: none;
}

#accordian-header {
    font-family: ch-bold;
    color: var(--beige);
    letter-spacing: 2px;
    text-align: center;
    padding-top: 5px;
}

#accordian-details {
    /* background: url(../../images/tapestry-bg.png); */
    background-size: 100%;
    font-family: ch-medium;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding-top: 30px; */
}

/* ====== Opening Hours ====== */
#opening-hours {
    display: flex;
    gap: 50px;
}

.hours {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hours > p, h4 {
    margin: 0;
}

.hours > h4 {
    font-family: ch-semibold;
    color: var(--midnight-blue);
}

.timings {
    color: var(--beige);
}

#cafe-description {
    color: var(--midnight-blue);
    margin: 0;
}

/* ====== Getting Here ====== */
#map-img {
    width: 25vw;
}

/* ====== Book Tickets ====== */
#text-fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#time-filters {
    display: flex;
    gap: 30px;
}

/* ====== Get In Touch ====== */
#social-media {
    display: flex;
    gap: 20px;
}

a.sm-icon {
    color: white;
}

a.sm-icon:hover {
    color: var(--maroon-red);
}