#results > h3 {
    font-family: ch-semibold;
    color: rgb(172, 59, 59);
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#result-container {
    width: 70vw;
    height: fit-content;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#img-container {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 40px;
}

progress {
    margin-top: 20px;
}

.artwork {
    flex-shrink: 0;
    display: inline-block;
    object-fit: cover;
    color: navy;
    text-align: center;
    border: 7px double goldenrod;
    padding: 2px;
    background-color: rgb(240, 203, 111);
}