#vid-container {
    width: 60vw;
    padding: 20px 0 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#vid-results {
    display: flex;
    gap: 50px;
    padding: 0 30px;
}

.video-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.video {
    width: 280px;
    height: 180px;
    background: center no-repeat url(../../images/static-bg.jpg);
    color: var(--midnight-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    border: 5px solid var(--midnight-blue);
}

.video:hover {
    background: center / cover no-repeat url(../../images/color-static-bg.jpg);
    color: white;
}

h1.video {
    font-family: ch-semibold;
    font-size: 20px;
    margin: 0;
}

.headphones {
    background: center / cover no-repeat url(../../images/headphones.png);
    width: 4vw;
    height: 4vw;
}