#vid-container {
    width: 60vw;
    padding: 20px 0 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#vid-results {
    display: flex;
    gap: 50px;
    padding: 0 30px;
}

.video-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video {
    width: 280px;
    height: 180px;
    background: url(../../images/bw-static.jpg);
    color: var(--maroon-red);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
    border: 10px solid grey;
}

.video:hover {
    background: center / cover no-repeat url(../../images/static-bg.jpg);
    color: var(--midnight-blue);
}

h1.video {
    font-family: ch-medium;
    font-size: 20px;
}

.headphones {
    background: var(--midnight-blue);
    width: 50px;
    height: 50px;
}