@font-face {
    font-family: newyork;
    src: url("./fonts/newyork.otf");
}

@font-face {
    font-family: ch-semibold;
    src: url("./fonts/ch-semibold.otf");
}

#filters {
    font-family: ch-semibold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#preset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#search {
    width: 484px;
}

#submit-btn, #clear-btn {
    width: 100px;
    margin-top: 10px;
}