#plan {
    display: flex;
    margin: 0;
    background-image: linear-gradient(to bottom, var(--light-blue), white);
    min-height: 100vh;
    height: fit-content;
}

#plan-middle > h1#pyv {
    font-family: ch-semibold;
    color: white;
    background-color: var(--maroon-red);
    box-shadow: 7px 7px var(--midnight-blue);
    width: fit-content;
    height: fit-content;
    padding: 10px 50px 3px;
    letter-spacing: 3px;
    margin-top: 50px;
}

#plan-middle > h2#end-msg {
    font-family: newyork;
    margin: 0;
}

#plan-middle {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 40vw;
    height: fit-content;
}

#plan-bottom-left, #plan-bottom-right {
    width: 30vw;
    height: 100vh;
    object-fit: cover;
    padding-top: 20px;
}

#plan-bottom-left{
    object-position: 85%;
}

#plan-bottom-right {
    object-position: 15%
}