#plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0;
    background-color: var(--beige);
    min-height: 100vh;
    height: fit-content;
    padding: 50px 0 100px 0;
}

#plan > h1 {
    font-family: ch-semibold;
    color: white;
    background-color: var(--maroon-red);
    box-shadow: 7px 7px var(--midnight-blue);
    width: fit-content;
    height: fit-content;
    padding: 10px 50px 3px;
    letter-spacing: 3px;
    margin: 0;
}